<main class='main-content-after-header'>
  <h1 class='container'>De l'étudiant ingénieur à l'expert Ruby on Rails</h1>

  <section class='container'>
    <h2>Une expertise construite en 5 ans de CDI</h2>
    <p class="experience-summary-cards-subtitle">
      La création d'applications web performantes et maintenables m'a amené à 
      savoir exploiter le plein potentiel de ces technologies
    </p>
    <div class='experience-summary-cards'>
      <% work_experiences.each do |work_experience| %>
        <a
          href='/experiences/<%=work_experience[:company_name]%>'
          class='experience-summary-cards-link'
        >
          <%= render(
            'experiences/_summary_card.html.erb',
            company_name: work_experience[:company_name],
            start_date: work_experience[:start_date],
            end_date: work_experience[:end_date],
            tags: work_experience[:tags]
          ) %>
        </a>
      <% end %>
    </div>
  </section>

  <section class='container'>
    <h2>Une vocation trouvée grâce aux stages</h2>
    <p class="experience-summary-cards-subtitle">
      J'y ai découvert des technologies, des environnements et des manières de travailler 
      qui me correspondent et qui me suivent encore aujourd'hui
    </p>
    <div class='experience-summary-cards'>
      <% intern_experiences.each do |intern_experience| %>
        <a
          href='/experiences/<%=intern_experience[:company_name]%>'
          class='experience-summary-cards-link'
        >
          <%= render(
            'experiences/_summary_card.html.erb',
            company_name: intern_experience[:company_name],
            start_date: intern_experience[:start_date],
            end_date: intern_experience[:end_date],
            tags: intern_experience[:tags]
          ) %>
        </a>
      <% end %>
    </div>
  </section>

  <section class='container'>
    <h2>Des bases solides grâce à 2 diplômes</h2>
    <p class="experience-summary-cards-subtitle">
      J'ai obtenu un diplôme d'ingénieur en informatique, 
      qui m'a permis d'acquérir une culture technologique
      de base et un début de pratique,
      ainsi qu'un master en management, qui m'a initié à la
      gestion de projet et d'équipe
    </p>
    <div class='experience-summary-cards'>
      <% degree_experiences.each do |degree_experience| %>
        <a
          href='/experiences/<%=degree_experience[:company_name]%>'
          class='experience-summary-cards-link'
        >
          <%= render(
            'experiences/_summary_card.html.erb',
            company_name: degree_experience[:company_name],
            start_date: degree_experience[:start_date],
            end_date: degree_experience[:end_date],
            tags: degree_experience[:tags]
          ) %>
        </a>
      <% end %>
    </div>
  </section>
</main>
