<main class='main-content-after-header experiences-show'>
  <div class='experiences-show-header container'>
    <div class='experiences-show-header-details'>
      <img
        class='experiences-show-square-logo'
        src=<%="'/public/images/logos/#{company_name}_company_square_logo.webp'"%>
        alt=<%="'Logo de #{company_name}'"%>
      >
      <div class='experiences-show-hightlights'>
        <h1><%= company_name.capitalize %></h1>
        <p class='experiences-show-duration'>
          <%="#{start_date.strftime('%m/%Y')} - #{end_date.strftime('%m/%Y')}"%>
        </p>
      </div>
    </div>
    <a href='/experiences' class='girard-button primary-near experiences-show-back-button'>
      ⬅ <span>Retour</span>
    </a>
  </div>

  <div class='experiences-show-tags container'>
    <% tags.each_with_index do |tag, index| %>
      <%= render(
        'shared/tag.erb',
        tag: tag,
        color: index%2==0 ? 'primary-far' : 'secondary-far'
      ) %>
    <% end %>
  </div>

  <%= render "experiences/contents/#{company_name}.html.erb" %>
</main>
