<div class='summary-card'>
  <img
    class='summary-card-logo'
    src=<%="'/public/images/logos/#{company_name}_company_logo.webp'"%>
    alt=<%="'Logo de l\'entreprise #{company_name}'"%>
  >

  <div class='summary-card-highlights'>
    <h2><%= company_name.capitalize %></h2>
    <p class='summary-card-duration'>
      <%="#{start_date.strftime('%m/%Y')} - #{end_date.strftime('%m/%Y')}"%>
    </p>
  </div>

  <div class='summary-card-tags'>
    <%= render('shared/tag.erb', tag: 'Ruby on Rails', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'Postgresql', color: 'secondary-far') %>
    <%= render('shared/tag.erb', tag: 'Heroku', color: 'primary-far') %>
    <%= render('shared/tag.erb', tag: 'AWS', color: 'secondary-far') %>
  </div>
</div>
