<div class='summary-card'>
  <img
    class='summary-card-logo'
    src=<%="'/public/images/logos/#{company_name}_company_square_logo.webp'"%>
    alt=<%="'Logo de l\'entreprise #{company_name}'"%>
  >

  <div class='summary-card-highlights'>
    <h2><%= company_name.capitalize %></h2>
    <p class='summary-card-duration'>
      <%="#{start_date.strftime('%m/%Y')} - #{end_date.strftime('%m/%Y')}"%>
    </p>
  </div>

  <div class='summary-card-tags'>
    <% tags.each_with_index do |tag, index| %>
      <%= render(
        'shared/tag.erb',
        tag: tag,
        color: index%2==0 ? 'primary-far' : 'secondary-far'
      ) %>
    <% end %>
  </div>
</div>
